.countdown_custom>div {
    color: #000;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media (max-width: 991px) {
    .custom_uppercase {
        font-size: 18pt !important;
        font-weight: 400 !important;
    }
}

@media (min-width: 1400px) {
    .custom_uppercase {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        text-transform: uppercase;
    }
}